@{
    Layout = "~/Views/Shared/_CreateTournamentLayout.cshtml";
    int? tourId = ViewBag.TourId as int?;
}
<div class="opened-step d-none">@ViewBag.StepOpen</div>
<div class="current-step d-none">@ViewBag.CurrentStep</div>
<div class="tour-id d-none">@tourId</div>
<div class="container-full">
    <div class="create-tour d-flex justify-content-end">
        <div class="create-tour-display col-lg-10">
            <div class="create-step-two">
                <div class="display-title d-flex justify-content-between">
                    <div>Người chơi</div>
                    <div class="d-flex align-items-center">
                        <a class="step-two-nav" id="list-all-player" href="@Url.Action("StepFiveAllPlayer", "CreateTournament", new { tourId = tourId })">Danh sách</a>
                        <a class="step-two-nav" id="all-list" href="@Url.Action("StepFivePlayerList", "CreateTournament", new { tourId = tourId })">Thêm người chơi</a>
                        <a class="step-two-nav active" id="request-list">Yêu cầu tham gia</a>
                    </div>
                </div>

                <!-- Yêu cầu tham gia -->
                <div class="display-content">
                    <div class="d-flex justify-content-between">
                        <div>
                            <button class="list-player" disabled>Thêm vào danh sách</button>
                            <button class="club-player" disabled>Thêm vào thành viên</button>
                        </div>
                        <div class="player-search d-flex align-items-end">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <input class="" />
                        </div>
                    </div>

                    <div class="pt-3">
                        <div class="table-overflow">
                            <table class="players-table">
                                <tr>
                                    <th>#</th>
                                    <th>Tên</th>
                                    <th>Quốc gia</th>
                                    <th>Email</th>
                                    <th>Số điện thoại</th>
                                    @* <th class="text-center">Hạng</th> 
                                    <th class="player-fee"></th>*@
                                    <th>Hành động</th>
                                </tr>
                                @if (ViewBag.JoinList != null)
                                {
                                    int stt = 1;
                                    @foreach (var player in ViewBag.JoinList)
                                    {
                                        <tr id="playerRow_@player.PlayerId">
                                            <td>@stt</td>
                                            <td class="tb-name">@player.PlayerName</td>
                                            <td>@player.CountryName</td>
                                            <td>@player.Email</td>
                                            <td>@player.PhoneNumber</td>
                                            @* <td class="text-center">H</td> *@
                                            <td>
                                                <a href="#" onclick="handleAddPlayerAction(@player.PlayerId)"><i class="fa-solid fa-user-plus p-2"></i></a>
                                                <a href="#" onclick="handleRejectPlayerAction(@player.PlayerId)"><i class="fa-solid fa-xmark p-2"></i></a>
                                            </td>
                                        </tr>
                                        stt++;
                                    }

                                }
                                else
                                {
                                    <tr>
                                        <td colspan="9">No players available</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>

                    @* <div class="tour-input pt-5">
                        <button class="submit-btn" type="submit">Lưu</button>
                    </div> *@
                </div>
            </div>
        </div>
    </div>
</div>
<div class="error-list">
    <div class="error-box add d-none" style="background:#37e57c; color:#fff;">
        <div class="error-content">
            <div class="error-des">
                Thêm người chơi thành công
            </div>
        </div>
    </div>
    <div class="error-box reject d-none">
        <div class="error-content">
            <div class="error-des">
                Đã từ chối yêu cầu tham gia
            </div>
        </div>
    </div>
</div>

<script>
    //Handle entry checkbox
    const addClubPlayer = document.querySelector('.club-player');
    const addListPlayer = document.querySelector('.list-player');
    const containerFull = document.querySelector('.container-full');
    const rowList = document.querySelectorAll('.players-table tr');

    function handleAddPlayerAction(playerId) {
        $.ajax({
            url: 'https://localhost:5000/api/Player/AcceptPlayer',
            type: 'GET',
            data: { playerId: playerId },
            success: function () {
                // Xóa <tr> tương ứng
                $('#playerRow_' + playerId).remove();
                document.querySelector('.error-box.add').classList.remove('d-none');
                setTimeout(()=>{
                    document.querySelector('.error-box.add').classList.add('d-none');
                },3000)
            }
        });
    }
    
    function handleRejectPlayerAction(playerId) {
        $.ajax({
            url: 'https://localhost:5000/api/Player/RejectPlayer',
            type: 'GET',
            data: { playerId: playerId },
            success: function () {
                // Xóa <tr> tương ứng
                $('#playerRow_' + playerId).remove();
                document.querySelector('.error-box.reject').classList.remove('d-none');
                setTimeout(() => {
                    document.querySelector('.error-box.reject').classList.add('d-none');
                }, 3000)
            }
        });
    }



</script>