@{
    Layout = "~/Views/Shared/_BackBtnLayout.cshtml";
}
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using PoolComVnWebClient.DTO;
@model ManagerDTO;
@{
    string email = HttpContextAccessor.HttpContext.Request.Cookies["Email"];
}
<div class="container-full">
    <div class="news-manage">
        <div class="manage-account d-flex">
            <a asp-controller="Manager" asp-action="Index" class="manager-account account">Quản lí</a>
            <a asp-controller="Manager" asp-action="ClubAccount" class="club-account account mx-2 active">Tài khoản Câu lạc bộ</a>
            <a asp-controller="Manager" asp-action="UserNormalAccount" class="user-account account mx-2">Tài khoản thường</a>
        </div>
        <!-- Club account Start-->
        <div class="club-content">
            <div class="mt-5 d-flex justify-content-end">
                <form method="get" action="@Url.Action("ClubAccount", "Manager")">
                    <div class="manageSearch d-flex">
                        <input class="news-input" name="searchQuery" placeholder="Tên, email, địa chỉ..." value="@ViewBag.SearchQuery" />
                        <button type="submit" class="searchBtn px-3 align-items-center">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="manage-body mt-3">
                @if (!string.IsNullOrEmpty(TempData["ErrorMessage"] as string))
                {
                    <div class="alert alert-danger" role="alert" style="border-radius:0;">
                        @TempData["ErrorMessage"]
                    </div>
                }
                <table>
                    <tr>
                        <th class="news-id">#</th>
                        <th class="text-center">Ảnh</th>
                        <th class="w150">Tên câu lạc bộ</th>
                        <th class="w150">Email đăng kí</th>
                        <th class="text-center w150">Số điện thoại</th>
                        <th class="text-center w200">Địa chỉ</th>
                        <th class="text-center w150">Loại tài khoản</th>
                        <th class="text-center account-status w150">
                            Trạng thái
                            <i class="fa-solid fa-caret-down fa-flip"></i>
                            <ul class="type-list w150">
                                <li>Hoạt động</li>
                                <li>Khóa</li>
                            </ul>
                        </th>
                        <th class="text-center w100">Hành động</th>
                    </tr>
                    @foreach (var club in Model.PaginatedClubAccounts.Items)
                    {
                        <tr>
                            <td>@club.ClubId</td>
                            <td>
                                <div class="img-frame-account" style="background-image:url('@club.Avatar')"></div>
                            </td>
                            <td>@club.ClubName</td>
                            <td>@club.AccountEmail</td>
                            <td class="text-center">@club.Phone</td>
                            <td class="text-center">@club.Address</td>
                            <td class="text-center">Câu lạc bộ</td>
                            <td class="status">
                                @if (club.Status == 1)
                                {
                                    <div class="user-status isActive">Hoạt động</div>
                                }
                                else
                                {
                                    <div class="user-status isUnActive">Khóa</div>
                                }
                            </td>
                            <td class="text-center">
                                @if (club.Status == 1)
                                {
                                    <a href="#"><i class="ban-btn fa-solid fa-lock-open p-2" data-club-id="@club.ClubId"></i></a>
                                }
                                else
                                {
                                    <a href="#"><i class="ban-btn fa-solid fa-lock p-2" data-club-id="@club.ClubId"></i></a>
                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>
            @{
                // Định nghĩa ngưỡng cần hiển thị dấu "..."
                int thresholdClub = 1;

                // Tính toán danh sách phân trang cần hiển thị
                List<int> displayedPagesClub = new List<int>();
                bool showLeadingDotsClub = false;
                bool showTrailingDotsClub = false;

                for (int pageNum = 1; pageNum <= Model.PaginatedClubAccounts.TotalPages; pageNum++)
                {
                    if (pageNum == 1 || pageNum == Model.PaginatedClubAccounts.TotalPages || Math.Abs(pageNum - Model.PaginatedClubAccounts.PageIndex) <= thresholdClub)
                    {
                        displayedPagesClub.Add(pageNum);
                    }
                    else if (pageNum < Model.PaginatedClubAccounts.PageIndex - thresholdClub && !showLeadingDotsClub)
                    {
                        displayedPagesClub.Add(-1); // Placeholder for leading dots
                        showLeadingDotsClub = true;
                    }
                    else if (pageNum > Model.PaginatedClubAccounts.PageIndex + thresholdClub && !showTrailingDotsClub)
                    {
                        displayedPagesClub.Add(-1); // Placeholder for trailing dots
                        showTrailingDotsClub = true;
                    }
                }

                // Hàm JavaScript để chuyển đến trang
                string goToPageFunctionClub = "goToClubPage";

                // Định dạng mã HTML cho phân trang
                <div class="pagination d-flex justify-content-center align-items-center m-0 mt-4">
                    <div class="pagination-content d-flex justify-content-center align-items-center m-0">
                        <div class="pagination-btn-big" onclick="prevClubPage()">Trước</div>
                        @foreach (int pageNum in displayedPagesClub)
                        {
                            if (pageNum == -1)
                            {
                                <div class="pagination-more">...</div>
                            }
                            else
                            {
                                <div class="pagination-btn @(pageNum == Model.PaginatedClubAccounts.PageIndex ? "active" : "")" onclick="@($"{goToPageFunctionClub}({pageNum}, '{@ViewBag.SearchQuery}')")">@pageNum</div>
                            }
                        }
                        <div class="pagination-btn-big" onclick="nextClubPage()">Sau</div>
                    </div>
                </div>
            }
        </div>
        <!-- Club account End-->
    </div>

</div>

<script>
    const backBtn = document.querySelector('.back-btn');  
    if (backBtn !== null) {
        backBtn.addEventListener('click', () => {
            window.location.href = '/home/index';

        });
    }
    //Handle ban btn
    const banBtnList = document.querySelectorAll('.ban-btn');
    banBtnList.forEach(btn => {
        btn.addEventListener('click', async (e) => {
            e.preventDefault();
            const clubId = btn.dataset.clubId;
            try {
                const response = await fetch(`https://localhost:5000/api/Club/ChangeStatus/${clubId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
                if (response.ok) {
                    const trParent = btn.closest('tr');
                    const clubStatus = trParent.querySelector('.user-status');
                    if (btn.classList.contains('fa-lock-open')) {
                        btn.classList.remove('fa-lock-open');
                        btn.classList.add('fa-lock');
                        clubStatus.classList.remove('isActive');
                        clubStatus.classList.add('isUnActive');
                        clubStatus.textContent = 'Khóa';
                    } else {
                        btn.classList.add('fa-lock-open');
                        btn.classList.remove('fa-lock');
                        clubStatus.classList.add('isActive');
                        clubStatus.classList.remove('isUnActive');
                        clubStatus.textContent = 'Hoạt động';
                    }
                } else {
                    console.error('Lỗi khi gọi API:', response.statusText);
                }
            } catch (error) {
                console.error('Lỗi:', error);
            }
        });
    });


    //Handle click nav
    const accountTypeBtnList = document.querySelectorAll('.account');
    accountTypeBtnList.forEach(accountTypeBtn => {
        accountTypeBtn.addEventListener('click', () => {
            accountTypeBtnList.forEach(btn => {
                btn.classList.remove('active');
            })
            accountTypeBtn.classList.add('active');
        })
    })

    //Handle each btn on nav
    const managerAcc = document.querySelector('.manager-account');
    const clubAcc = document.querySelector('.club-account');
    const userAcc = document.querySelector('.user-account');

    const managerContent = document.querySelector('.manager-content');
    const clubContent = document.querySelector('.club-content');
    const userContent = document.querySelector('.user-content');

    managerAcc.addEventListener('click', () => {
        offActiveBtn();
        managerContent.classList.remove('d-none');
    });

    clubAcc.addEventListener('click', () => {
        offActiveBtn();
        clubContent.classList.remove('d-none');
    });

    userAcc.addEventListener('click', () => {
        offActiveBtn();
        userContent.classList.remove('d-none');
    });


    function offActiveBtn() {
        if (!managerContent.classList.contains('d-none')) {
            managerContent.classList.add('d-none');
        }
        if (!clubContent.classList.contains('d-none')) {
            clubContent.classList.add('d-none');
        }
        if (!userContent.classList.contains('d-none')) {
            userContent.classList.add('d-none');
        }
    }

    var currentPageClub = @Model.PaginatedClubAccounts.PageIndex;
    function prevClubPage() {
        var searchQuery = '@ViewBag.SearchQuery';
        if (currentPageClub > 1) {
            goToPage(currentPageClub - 1, searchQuery);
        }
    }

    function nextClubPage() {
        var totalPages = @Model.PaginatedClubAccounts.TotalPages;
        var searchQuery = '@ViewBag.SearchQuery';
        if (currentPageClub < totalPages) {
            goToPage(currentPageClub + 1, searchQuery);
        }
    }

    function goToClubPage(pageNum, searchQuery) {
        var url = '@Url.Action("ClubAccount", "Manager")';
        url += '?page=' + pageNum;
        if (searchQuery) {
            url += '&searchQuery=' + searchQuery;
        }
        window.location.href = url;
    }


</script>